name: Build cphc
run-name: ${{ github.actor }} Build CPHC Values
on: [push]

jobs:
  Build-Packages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - run: docker build .
